<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login with Spotify</title>
</head>
<body>
    <h1>Login with Spotify - convert spotify to apple music</h1>
    <form action="/redirect" method="GET">
        <button type="submit">Login with Spotify</button>
    </form>
    <h1>Login with Apple Music - convert apple music to spotify</h1>
    <form action="/apple_redirect" method="GET">
        <button type="submit">Login with Apple Music</button>
    </form>
</body>
</html>